.month-header {
    background-color: #dddddd;
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    width: 75px;
}
.month-header-wrapper {
    display: flex;
}