.calendar-wrapper {
    margin-top: 40px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .calendar-wrapper {
        margin-top: 0;
    }
}